<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Early Childhood - {% endblock %}



{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Early Childhood - Frequently Asked Questions</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>What do I need to bring to enroll my child?</strong></h3>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>Enrollment Packet</li>
                    <li>CIB</li>
                    <li>Physical Exam</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>Birth Certificate</li>
                    <li>Social Security Cards</li>
                    <li>Dental Exam</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>Immunization Record</li>
                    <li>Medical or Insurance Cards</li>
                    <li>Proof of Income</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>What days does the Early Childhood Center open?</strong></h3>
                <p style="font-size: 1.5em">The Early Childhood Center is open 5 days a week, Monday through Friday from 8:00 AM to 5:00 PM, excluding holidays. There is a staff member here @ 7:30 for Child Care. All children should be picked up @ 5:00 PM or shortly after. We do not provide Child Care after that time.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>What if my child is sick?</strong></h3>
                <p style="font-size: 1.5em">We have a temporary exclusion policy that states when a child needs to be sent home or when he/she should not come to school. If your child is sick, get a doctor’s note to bring back so that the teachers can mark the child as excused for the day due to illness. If you have a phone give us a call and let us know the child is not coming.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Do I need to transport my child or can he/she ride a bus?</strong></h3>
                <p style="font-size: 1.5em">If your child is 3 years old or older, he/she can ride the bus during the Head Start/FACE school year on days the bus runs (usually Tuesday through Friday). If your child is under 3 or if it is a Child Care only day, you must provide the transportation.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Do I have to pay for Child Care services?</strong></h3>
                <p style="font-size: 1.5em">Generally, Child Care is provided through an agreement with Navajo Nation Child Care and is based on a sliding scale for income. That means that you have to qualify with them and they will determine how much of the child care costs they will pay and how much is your co-pay amount.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>How many meals does my child eat?</strong></h3>
                <p style="font-size: 1.5em">We serve Breakfast, Lunch and an Afternoon Snack.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Do the children take naps and for how long?</strong></h3>
                <p style="font-size: 1.5em">Most children do take naps. The amount of time depends on the age of the child. If your child does not like to take naps, talk to the teacher and discuss activities or solutions to sleeping issues.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Are the teachers qualified to teach my child?</strong></h3>
                <p style="font-size: 1.5em">Currently all our teachers have an AA (Associate’s Degree) in Early Childhood Education. One teacher holds a Bachelor’s Degree. Most of the co-teachers have a CDA and are taking classes towards their AA degree. The teachers are all working towards their BA degrees as well.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>If I have a concern who should I contact?</strong></h3>
                <p style="font-size: 1.5em">If you call the Front Desk, our receptionist can direct you who is the best suited to address your concerns. Her number is 575/854-2635 Extension 1500. Please go through her to get your concerns addressed because it is much faster if you speak to the right people the first time.</p>
            </div>
        </div>
    </section>
{% endblock %}