<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Early Childhood - {% endblock %}



{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Early Childhood - Programs</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Early Head Start</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Head Start</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>FACE</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Child Care</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Early Intervention</strong></h3>
            </div>
        </div>
    </section>
{% endblock %}