<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Early Childhood - {% endblock %}



{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Early Childhood - Governance</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>The policy council currently consists of an eleven-member board, which includes four parent representatives from Head Start, three parent representatives from Early Head Start one of which represents the Home-base portion of the program. Community Representatives come from the Alamo Navajo Chapter, Alamo Community School, Alamo Health Services and FACE program. In order to help facilitate the policy council meetings and trainings, the Division receptionist and Education Coordinator works with the policy council parents to encourage and empower them in their roles. The Governing Board and Policy Council have established by laws, policies and procedures for shared decision-making. An internal conflict resolution policy is in place that has been reviewed and approved by both the governing board and the policy council.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Standards From Head Start Citing The Governance Performance Standard</strong></h3>
                <h4>Guiding principles as staff members of the Alamo Navajo Early Childhood Center our work with children and families will be based on the following principles:</h4>
                <ol style="font-size: 1.2em">
                    <li>To be willing to forgive and forget and appreciate each other.</li>
                    <li>To see the strengths in the families we serve.</li>
                    <li>To be trustworthy and honest.</li>
                    <li>To be able to promote a positive atmosphere in the programs, we need to be more open and accountable for our actions.</li>
                    <li>To communicate with children, families, staff, and community.</li>
                    <li>To support each other and work as a team; sharing and taking responsibility</li>
                    <li>To build positive relationships through open communications.</li>
                    <li>To be supportive of families.</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>1304.50 Program Governance</strong></h3>
                <p>Policy Council, Policy Committee, and Parent Committee structure. Grantee and delegate agencies must establish and maintain a formal structure of shared governance through which parents can participate in policy making or in other decisions about the program.</p>
            </div>
        </div>
    </section>
{% endblock %}