.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.jumbotron.text-center {
	min-height: 300px;
	margin-bottom: 0;
    background: url("images/Alamo.JPG") no-repeat;
    background-size: cover;
    font-family: "Trebuchet MS", Trebuchet, serif;
    color: whitesmoke;
}

body > .navbar {
    min-height: 100%;
	position: relative;
	bottom: 50px;
	outline-style: none;
	border-style: none;
	border-radius: 0;
	background-color: rgba(255,255,255,0.75);
    font-weight: bold;
}

#statement {
    font-size: 1.30em;
}

.row {
    padding: 10px;
}

p, li {
    font-size: 1.2em;
}

footer {
    padding-top: 50px;
}

footer .navbar{
	float: none;
	vertical-align: top;
	margin: auto;
	width: 300px;
	text-align:center;
	border-style: none;
	border-radius: 0;
	background-color: rgba(255,255,255,0.0);
    font-weight: bold;
}