<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}About Us - {% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>About Us</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Alamo Navajo School Board is an independent primary school established in 2011. Our school focuses on creating a friendly environment and providing quality teaching and learning. With 50 classrooms, the school can accomodate 1000 students in grades 1 to 6.</p>
                <p>The school offers a comprehensive curriculum enhanced with a wide range of extracurricular activities, including many sports and practical music programs.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 style="text-align: center"><strong>Alamo Navajo School Board History</strong></h3>
                <p>The original BIA school at Alamo was built in the 1930’s, but closed in 1941. Children from Alamo were sent to boarding schools off the reservation in Santa Fe, Albuquerque, and other distant places. In 1957, the BIA dormitory was put into operation in Magdalena and children were boarded there and attended the Magdalena public school. As Alamo parents watched their children go off to school in the fall, returning only for holidays and some weekends, they began to discuss a way to create a community school at Alamo. A school would eliminate the 35-mile bus ride to Magdalena, the need to house children in the BIA dormitory, and allow the children to live at home, give parents the opportunity to be involved in their children’s education.</p>
                <p>The creation of the Alamo Navajo School Board, Inc. in 1979 represented the political birth of the Alamo’s leaders. Taking advantage of the 1975 Indian Self-Determination Act, the School Board was able to contract for its own services, and the Alamo leaders began to make decisions for themselves. The concept of self-determination found fertile ground in a community, which knew it wanted a school, health services, and local control, but previously had no vehicle to obtain those things.</p>
                <p>The Alamo Navajo Community School opened its door on October 1, 1979 as a K-8 school in four portable buildings. On December 15, 1980, the contract scope was amended making it a K-12 school with six additional trailers and 317 students. In 1982, planning, coordination, and construction for a permanent facility was begun, culminating in 54,000 square foot structure, which includes classrooms, labs, a library/media center, gymnasium, cafeteria, agriculture/greenhouse lab, and shops for industrial arts.</p>
                <p>The Alamo Navajo School Board, Inc. now operates the K-12 schools as well as an Indian Health Clinic, Early Childhood Center, Adult Education Program, Roads Department, Technology Department, & Wellness Center.</p>
            </div>
        </div>
    </section>
{% endblock %}
