<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Contact Us - {% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
           <div class="col-sm-12">
               <h3><strong>EMS:</strong></h3>
               <p>575-854-2525</p>
           </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>General Inquiries:</strong></h3>
                <ul>
                    <li>School: 575-854-2543</li>
                    <li>Clinic: 575-854-2626</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Mailing:</strong></h3>
                <p>P.O. Box 5907</p>
                <p>Alamo, NM 87825</p>
            </div>
        </div>
    </section>
{% endblock %}

