<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Schools - {% endblock %}


{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Middle School</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Language:</strong></h3>
                <p>This is a reading program for secondary (middle and high school). The program focuses on Phonemic Awareness & Phonics, Word Recognition & Spelling, Vocabulary, Grammar, Comprehension and Fluency. This program is designed to help bring students' reading level up to grade level.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>21<sup>st</sup> Century Program:</strong></h3>
                <h4>The school offers an after-school program for all students in the following areas:</h4>
                <ul>
                    <li>Arts and crafts.</li>
                    <li>Childcare - After school and during lunch breaks.</li>
                    <li>Monthly Super Saturday - Arts, crafts, and educational activities for families of enrolled students. Meals are included.</li>
                </ul>
                <h4>Reading and Mathematics tutoring may be available.</h4>
            </div>
        </div>
    </section>
{% endblock %}