<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Schools - {% endblock %}


{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Elementary School</strong></h2>
            </div>
         </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Reading First:</strong></h3>
                <p>This is an intervention program based on scientifically based reading research. The program is designed to be used with grades K-3 in order to ensure all children learn to read. Screening, assessments and progress monitoring conducted every two weeks are critical components that measure how well students are reading. Reading first incorporates the Five Big Ideas: Phonemic Awareness, Phonies, Fluency, Vocabulary and Comprehension. This initiative is supported by the BIE.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Math Now:</strong></h3>
                <p>This is a BIE supported math intervention program for grades K-8. It is intended to provide explicit, direct instruction targeted specifically at students’ individual needs. It is patterned after the Reading First initiative. Students are screened assessed and progress monitoring will occur every two weeks.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>SPARK Program (Physical Education):</strong></h3>
                <h4>Physical education and health provide experiences for physical, social, emotional and intellectual growth. Objectives for physical education in the school include:</h4>
                <ul>
                    <li>Developing fundamental motor and manipulative skills.</li>
                    <li>Developing, refining, and expressing enjoyment for creative movement.</li>
                    <li>Developing basic skills and knowledge of games.</li>
                    <li>Developing safety skills and working cooperatively with others in game situations.</li>
                    <li>Promoting physical fitness.</li>
                    <li>Encouraging good sportsmanship and character traits.</li>
                </ul>
                <h4>Every elementary school student participates in structured physical education activity. Physical education is typically taught by Fitness Center Specialists.</h4>
            </div>
        </div>
    </section>
{% endblock %}