<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Community Services - {% endblock %}


{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Community Services</strong></h2>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-sm-6">
                <h3><a href="/communityservices/financialaid"><strong>Financial Aid</strong></a></h3>
            </div>
            <div class="col-sm-6">
                <h3><a href="/communityservices/programs"><strong>Programs</strong></a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img src="{% static 'Base/images/community_services_full.JPG' %}"                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p id="statement" style="font-size: 1.5em"><strong>Vision Statement: </strong>It is our vision to empower the Alamo Community to work together towards self-sufficiency in the world of work.</p>
            </div>
            <div class="col-sm-6">
                <p id="statement" style="font-size: 1.5em"><strong>Mission Statement: </strong>To educate, counsel, train, encourage, and empower the Alamo Community towards self-sufficiency in the world of work and to work toward improving their daily life by learning to read, write, speak English, and compute mathematical problems.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Community Services Advisory Council</strong></h3>
                <p style="font-size: 1.5em">
                    What is an Advisory Council?

                    An Advisory Council is an educational partnership among local business, community, and educational representatives to advocate local efforts, to improve academic achievement, career development and employment opportunities for adult learners of the Alamo Community. This partnership is a forum in which everyone has a stake in student success. It is a positive pathway to improve collaboration, cooperation, coordination, and communication within the ANSBI organization, the Alamo community, educational and business partners, workforce connection centers, tribal entities, surrounding industry, and any interested party who has an invested interest in the educational and economic growth and development of the Alamo community.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Roles of the Community Services Advisory Council is to:</strong></h3>
                <ul style="font-size: 1.5em">
                    <li>Be a sounding board for the planning and implementation of services offered by the various programs under Community Services</li>
                    <li>Be supportive of program planning, needs assessment, evaluation, recruitment strategies (local businesses, agencies, etc.) and retention</li>
                    <li>Give stakeholders an opportunity to express their perspective on program strengths and needs</li>
                    <li>Give input on educational and training preparation for future economic development projects at the local, county, regional, and tribal areas</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Program staff to present program overviews on current status, expectations, and challenges:</strong></h3>
                <ul style="font-size: 1.5em">
                    <li>Alamo Adult Basic Education (ABE) and GED program</li>
                    <li>Native American Career and Technical education Program</li>
                    <li>Workforce Investment Act of 1998 (WIA) Programs</li>
                    <li>Workforce Investment Act Section 166</li>
                    <li>New Mexico Youth Conservation Corps (YCC)</li>
                    <li>Literacy Issues</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}