<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Community Services Financial Aid - {% endblock %}



{% block content %}
    <section class="container">
    <div class="row"  id="header">
        <div class="col-sm-12" style="text-align: center">
            <h2><strong>Scholarships Available for Alamo Community who graduated from Alamo Community School</strong></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3><strong>JAMES A APACHITO MEMORIAL SCHOLARSHIP</strong></h3>
            <p  style="font-size: 1.5em">James A. Apachito believed in higher education for the Alamo Navajo Community. He believed that each and everyone of the youth who graduates from the Alamo Navajo School has the potential for higher education and to be successful in their journey to becoming self-sufficient. It is this strong belief that led to the creation of this memorial scholarship to assist Alamo Navajo College students with the financial means to successfully complete a four-year degree and to become successful in the their career endeavors. It is the hope that they will return to Alamo to apply their knowledge and wisdom to benefit the continuing development of the Alamo Community.</p>

            <h4><strong>Award Eligibility</strong></h4>
            <ul>
                <li>Alamo Navajo Community School Graduate</li>
                <li>Certificate of Indian Blood (CIB)</li>
                <li>Scholarship Application</li>
                <li>Classified as a junior in an accredited post secondary institution</li>
                <li>GPA of 2.75 or greater</li>
                <li>Two letters of recommendation from an advisor, counselor and/or faculty member</li>
                <li>500 word essay</li>
            </ul>

            <h4><strong>Scholarship Information</strong></h4>
            <p  style="font-size: 1.5em">The James A. Apachito Memorial Scholarship is awarded to college students classified as a college junior or above and registered in an approved accredited post-secondary institution.</p>
            <p  style="font-size: 1.5em">Application deadline will be announced so applicants will have ample time to complete the application process.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3><strong>Edge For Excellence</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3><strong>Alamo Navajo Chapter Scholarship</strong></h3>
            <p  style="font-size: 1.5em">P.O. Box 827</p>
            <p  style="font-size: 1.5em">Magdalena, NM 87825</p>
            <p  style="font-size: 1.5em">(575) 854-2686 Office</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3><strong>Native American Career Technical Education Program Application (NACTEP)</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3><strong>Other Scholarships: </strong></h3>
            <div>
                <h4><strong>Free Application for Federal Student Aid (FAFSA)</strong></h4>
                <p  style="font-size: 1.5em"><a href="http://www.fafsa.ed.gov/">http://www.fafsa.ed.gov/</a></p>
            </div>
            <div>
                <h4><strong>Office of Navajo Nation Scholarship & Financial Assistance (ONNSFA)</strong></h4>
                <p  style="font-size: 1.5em"><a href="http://www.onnsfa.org/">http://www.onnsfa.org/</a></p>
            </div>
        </div>
    </div>
    </section>
{% endblock %}