<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Community Services Programs - {% endblock %}



{% block content %}
    <section class="container" style="margin: auto">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Community Services Programs</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Adult Basic Education</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Workforce Investment Act Year Round Youth</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Workforce Investment Act Section 166</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Distance Learning</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Native American Career and Technical Education Program</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Youth Conservation Corps</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>New Mexico Coalition for Literacy</strong></h3>
            </div>
        </div>
    </section>
{% endblock %}