<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Health Services - {% endblock %}


{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Health Services</strong></h2>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-sm-4">
                <h3><a href="/healthservices/dental"><strong>Dental</strong></a></h3>
            </div>
            <div class="col-sm-4">
                <h3><a href="/healthservices/ems"><strong>EMS</strong></a></h3>
            </div>
            <div class="col-sm-4">
                <h3><a href="/healthservices/lab"><strong>Lab</strong></a></h3>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-sm-6">
                <h3><a href="/healthservices/pharmacy"><strong>Pharmacy</strong></a></h3>
            </div>
            <div class="col-sm-6">
                <h3><a href="/healthservices/services"><strong>Other Services</strong></a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3><strong>The Alamo Navajo Health Center was founded on the principles of self-determination.</strong></h3>
                <p style="font-size: 1.5em">Public Law 93-638, the Indian Self-Determination and Education Assistance Act. The Alamo Navajo School Board, Inc., has been given the authority by the Alamo Navajo Chapter and the Navajo Nation to develop community services, including health services, for the people of the Alamo Navajo Community. Therefore, the Alamo Navajo School Board, Inc., services as the governing body for the Alamo Navajo Health Center, and through its Executive Director, provides policy direction to the Health Services Director.</p>
                <br>
                <h3><strong>The Alamo Navajo Health Center Serves:</strong></h3>
                <ul style="font-size: 1.5em">
                    <li>Residence of the Alamo community pharmacy.</li>
                    <li>Beneficiaries of the Indian Health Service.</li>
                    <li>Employees of the Alamo Navajo School Board.</li>
                    <li>Non-Native American women pregnant with a Native American's child.</li>
                    <li>Persons seeking emergency medical care.</li>
                    <li>Other non-Native American on a fee-for-service basis.</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <img src="{% static 'Base/images/health_center.JPG' %}">
            </div>
        </div>
    </section>
{% endblock %}