<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Health Services - {% endblock %}


{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Health Services - Emergency Medical Services (EMS)</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p style="font-size: 1.5em">An emergency is a medical condition for which immediate attention is necessary to prevent death or serious impairment of the health of an individual.  Severe chest pain, a broken leg, or fainting are just some examples of emergencies.</p>
                <br>
                <p style="font-size: 1.5em">For all emergencies, call (575) 854-2525 or Socorro General Hospital at (575) 835-8370. If EMS is on a run and staff does not answer the phone, hang up and call Socorro General Hospital. Should you wish to leave a message with the EMS staff a recording is available in which the staff can return calls.</p>
                <br>
                <p style="font-size: 1.5em"><strong>Hours for EMS are 24/7 all 365 days.</strong></p>
            </div>
        </div>
    </section>
{% endblock %}