<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Health Services - {% endblock %}


{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Health Services - Other Services</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Optometry:</strong></h3>
                <p style="font-size: 1.5em">Services include eye exams, fittings for glasses, retinal screenings, and glaucoma screenings. The optometrist travels from Albuquerque where he has a private practice and is therefore not available daily. Optometry provides service every Tuesday at the back of the clinic. To schedule appointments please contact the optometry technician at (575)-854-2626 extention 174 or 198.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Audiology:</strong></h3>
                <p style="font-size: 1.5em">Services include hearing tests, hearing screening and hearing aids. The audiologist is provided by the Albuquerque service unit and is therefore not available daily.</p>
                <p style="font-size: 1.5em">The audiologist comes once a month, and this usually occurs on the third Wednesday, but is subject to change. To schedule an appointment please contact the audiology technician at (575)-854-2626 extension 174 or 198.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Diabetes Education:</strong></h3>
                <p style="font-size: 1.5em">Services include nutrition education, blood glucose monitoring, self foot exams, and exercise plans. Appointments may be scheduled with the Assistant Diabetes Educator at (575)-854-2626 extension 135.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Well Women Exam:</strong></h3>
                <p style="font-size: 1.5em">Services include pap smears, ultra sounds if found necessary, pregnancy tests, and referrals for mammograms. To schedule an appointment please contact the Alamo Clinic Scheduler at (575)-854-2626 extension 130.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Well Child Exam:</strong></h3>
                <p style="font-size: 1.5em">Services include child development, physical growth, and immunization. To schedule an appointment please contact the Alamo Clinic Scheduler at (575)-854-2626 extension 130.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Prostate Cancer Screening:</strong></h3>
                <p style="font-size: 1.5em">Services include in house preliminary exam, and P.S.A exams, which may result in a referral to the Albuquerque Indian Health Hospital for follow up. To schedule an appointment please contact the Alamo Clinic Scheduler at (575)-854-2626 extension 130.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Physical Exams:</strong></h3>
                <p style="font-size: 1.5em">Services include school/sport physicals, employment physicals, and disability physicals.</p>
                <p style="font-size: 1.5em">Physical exams are performed only on Thursdays. Space is limited, and no walk-ins will be accepted. To schedule an appointment please contact the Alamo Clinic Scheduler at (575)-854-2626 extension 130.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Dental Exams:</strong></h3>
                <p style="font-size: 1.5em">Services include sealants, fillings, and extractions. Orthodontic procedures are done on a referral basis to an outside provider. Services are provided on an appointment basis. Emergency walk-ins will be considered, as space is available. To schedule an appointment please contact the Dental assistant at (575)-854-2626 extension 150.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Personal Fitness Trainers:</strong></h3>
                <p style="font-size: 1.5em">Trainers are available to assist with and prepare plans on an individual basis for weight training, stretching and endurance training, cardiovascular, and maintenance. To schedule an appointment please contact the Wellness Center Assistant at (575)-854-2626 extension 220.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Massages:</strong></h3>
                <p style="font-size: 1.5em">Massage therapy includes tension areas, injury areas, and general circulation. Deep tissue massages are available upon request. Massages are available Tuesdays, and Thursdays. Please allocate one hour for a full treatment. To schedule an appointment please contact the Wellness Center Assistant at (575)-854-2626 extension 220.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Prenatal Education/classes:</strong></h3>
                <p style="font-size: 1.5em">Classes are available for expecting and new mothers. Classes cover such topics as breastfeeding, nutrition, what to expect, child rearing, and the first year of infancy. For information and to enroll please contact the Public Health Nurse at (575)-854-2626 extension 120.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Pediatrics:</strong></h3>
                <p style="font-size: 1.5em">Pediatrics is defined as children under the age of 12, and in some cases their care needs a specialist. This service is only available through referral from the providers at the Alamo clinic. Appointments are scheduled on an as needed basis; the pediatrician is at Alamo once a month. For more information please contact the Alamo Clinic Scheduler at (575)-854-2626 extension 130.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Refills:</strong></h3>
                <p style="font-size: 1.5em">Prescription refills are available Monday through Thursday as late as 3:00 P.M., and on Friday as late as noon. Please contact the Pharmacy Technician as early as possible at (575)-854-2626 extension 142.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Podiatry:</strong></h3>
                <p style="font-size: 1.5em">Services include foot exams, nail clipping, and orthodics fittings. Podiatrist is at the clinic twice a month on Thursdays. To schedule an appointment please contact the Assistant Diabetes Educator at (575)-854-2626 extension 135.</p>
            </div>
        </div>
    </section>
{% endblock %}