<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Health Services - {% endblock %}


{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Health Services - Pharmacy</strong></h2>
            </div>
        </div>
        <div class="col-sm-12">
            <p style="font-size: 1.5em"> A Clinical pharmacy with Indian Health Service is very unique in that the pharmacist is much more than just a retail pharmacist dispensing.  We are charged with being gate keepers and clinicians giving pharmaceutical care for all medications being routed throughout the Alamo Health Center pharmacy.  We are also charged with verifying data and encouraging habits of our providers with the use of our pharmacy drug formulary.</p>
            <br>
            <p style="font-size: 1.5em">The pharmacy is open during the same hours as the health clinic. Pharmacy services include giving our prescription medications, drug information services, and patient education activities.</p>
        </div>
    </section>
{% endblock %}