<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Health Services - {% endblock %}


{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Health Services Dental</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p style="font-size: 1.5em">The Alamo Health Center provides a variety of Dental services.  Alamo children are screened for cavities and the need for dental sealant.  Several Dental Health promotion/disease prevention activities are carried out throughout the year. There are annual diabetic dental exams that are completed as an important part of the continuum of care.</p>
                <br>
                <p style="font-size: 1.5em">Besides the filling of teeth for cavities, the staff can remove teeth as needed and if additional services are necessary, a referral may be done.</p>
            </div>
        </div>
    </section>
{% endblock %}