<!DOCTYPE html>
{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}Health Services - {% endblock %}


{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h2><strong>Health Services - Lab</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p style="font-size: 1.5em">The Alamo Health Center Laboratory is available for use during business hours as requested by the professional staff. The Laboratory is CLIA Compliant</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>Examples of some of the tests that are provided are:</strong></h3>
                <br>
                <h3><strong>Blood Chemistry:</strong></h3>
                <ul style="font-size: 1.5em">
                    <li>Glucose</li>
                    <li>BUN</li>
                    <li>Creatinine Calcium</li>
                    <li>Sodium</li>
                    <li>Potassium</li>
                    <li>Chloride</li>
                    <li>CO2</li>
                    <li>Total Protein</li>
                    <li>Alburnin</li>
                    <li>Cholesterol Triglycerides</li>
                    <li>HDL and LDL</li>
                </ul>
                <br>
                <h3><strong>OGTT:</strong></h3>
                <ul style="font-size: 1.5em">
                    <li>1 hour Glucose</li>
                    <li>2 hour Glucose</li>
                    <li>3 hour Glucose</li>
                </ul>
                <br>
                <h3><strong>Hematology:</strong></h3>
                <ul style="font-size: 1.5em">
                    <li>CBC with auto different</li>
                    <li>Hematocrit</li>
                    <li>A1c</li>
                </ul>
                <br>
                <h3><strong>Urinalysis:</strong></h3>
                <ul style="font-size: 1.5em">
                    <li>Urine Dipstick</li>
                    <li>Urine Microscopic</li>
                    <li>Pregnancy Test</li>
                    <li>Rapid Strep</li>
                </ul>
                <br>
                <h3><strong>Coagulation</strong></h3>
                <br>
                <h3><strong>Cardiac Markers</strong></h3>
            </div>
        </div>
    </section>
{% endblock %}